/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 19, 2015, 12:15:03 PM
    Author     : George
*/

// CSS CLASS FOR OUR BIG PANES
.bordered_pane {
    -fx-background-color: #ffcde6;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.gray_pane {
    -fx-background-color: #edebeb;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 1px;
    -fx-border-color: #bcbcbc;
}

// CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI
.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI
.prompt_label {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

